* {
    
    margin: 0;
    padding: 0;
  }
  body{
   width: 100%;
   /* height: 100vh; */
  }

  a{
    list-style: none;
    text-decoration: none;
    cursor: pointer;
  }
  button{
    cursor: pointer;
  }
  .contains{
    background: linear-gradient(to right, rgb(0, 0, 0),rgba(0,0,0,0.0)), url('../assets/phone.avif');
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100%;
    padding: 0px;
     color: white;
    z-index: 999; 
  }
 /* Styles for the normal state */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
     z-index: 1000;
    transition: background-color 0.3s ease-in-out;
  }
  .scrolled {
    /* Change button color and text clor when scrolled */
     color: #fff;
    backdrop-filter: blur(10px);
  /* background-color: rgb(144, 110, 153); */
  /* border-radius: 10px; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow when scrolled */
  transition: ease-in-out 0.5s;

  }
  .scrolled > p {
    text-shadow: 1px 3px 4px rgb(192, 191, 191);
      color: rgb(144, 110, 153);
    backdrop-filter: blur(10px);
    font-size: 40px;
   transition: ease-in-out 0.5s;

  }
  /* Styles for the scrolled state */
  header.scrolled {
    transition: ease-in-out 0.5s;
    backdrop-filter: blur(10px);
    background-color: white; /* Change background color when scrolled */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow when scrolled */
  }
  
  .header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px  100px;
  }
.header_container a{
    font-weight: bold;
    font-size: 40px;
    color: #fff;
    
}
  
  .logo {
    display: block;
    font-size: 24px;
  }
  .system_text{
    color: #333;
  }
  nav ul {
    list-style-type: none;
    display: flex;
    text-decoration: none;
list-style: none;
  }
  
  nav ul a li {
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    list-style: none;
  }
 
.logins {
     outline: none;
    
    border: none;
    background: rgb(182, 124, 168);
    border-radius: 10px;
    /* border: 1px solid #525252; */
    transition: 0.5s ease-in-out;
}
.logins p {
  font-weight: bold;
  font-size: 16px;
   padding: 16px 30px;
    background: rgb(182, 124, 168);
    border-radius: 10px;
   transition: 0.5s ease;
}
.logins:focus{
     outline: none;
}
.logins p:hover{
   background: rgb(255, 255, 255);
    outline: none;
    border: none;
    color: rgb(144, 110, 153);
}
  /* banner */
  .banner {
    width: 100%;
    height: 100%;
    
  }
  .banner_container{
    padding: 150px 50px;
  }
  .left {
    width: 50%;
    padding: 20px;
  }
  
  .signup-form {
    width: 410px;
    background-color:#f4f5f6;
    padding: 20px;
    border-radius: 8px;
    transition: 0.5s ease-in-out;

    box-shadow: 5px 6px 9px 2px rgba(194, 186, 186, 0.404);
  }
 
  .signup-form h1{
    line-height: 1.2;
    font-size: 2.4rem;
    color: #1c1c21;
    text-align: center;
    font-weight: normal;
    font-family: "Playfair Display", "Times New Roman", serif;
     margin-bottom: 25px;
  }
  .form-group {
    display: flex; 
    align-items: center;
    justify-content: space-between;
     padding: 10px;
    margin-bottom: 15px;
    transition: 0.5s ease-in-out;

  }
  
  label {
     margin-bottom: 5px;
     font-size: 17px;
     color: #525252;
     font-weight: bold;
  }
  .formSpace{
    display: flex;
    flex-direction: column;
    justify-content: start;
    transition: 0.5s ease-in-out;

  }
  .signup-form .form-group input {
    width: 200px;
    padding: 13px;
    border: 1px solid rgb(182, 124, 168);
    border-radius: 4px;
    outline: none;
    transition: 0.5s ease-in-out;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .signup-form .form-group  select{
    width: 225px;
    transition: 0.5s ease-in-out;

    padding: 13px;
    outline: none;
    border: 1px solid rgb(182, 124, 168);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  .sectionOpt{
    display: flex;
    flex-direction: column-reverse;
    /* gap: 10px; */
  }
   
  .signup-form input[type="range"] {
    width: 200px;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    }
  
  output {
    display: block;
    margin-top: 5px;
    color: #525252;
    font-weight: bold;
  }
  
  .signup-form button {
    padding: 15px 25px;
    background: rgb(182, 124, 168);
    color: #fff;
    border: none;
    font-weight: bold;
    transition: 0.5s ease-in-out;

    width: 100%;
    border-radius: 5px;
    cursor: pointer;
  }
  .already_login{
    display: flex;
    gap: 5px;
    justify-content: center;
    padding: 10px;
  }
  .already_login a{
    color: rgb(182, 124, 168);
    font-weight: bold;
  }

  /* loading preloader */
  .preloader-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
     background: #eeebeb;
     z-index: 1000;
  }
  .container_spin{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:150px 0;
  }
  .spinner {
    width: 200px;
    height: 200px;
    border: 5px solid #ff0000;
    border-top: 3px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  /* login page */
  .login-form{
    display: flex;
    justify-content: center;
    width: 100%;
    background: linear-gradient(to bottom, rgb(226, 221, 226),rgb(255, 255, 255) );
    height: 100%;
  }

  .login-form a{
    margin-top: 100px;
    font-size: 20px;
    font-weight: bold;
     width: 40px;
    height: 30px;
    
  }
  .arrowBack{
    position: absolute;
    left: 0;
    margin: 20px;
    box-shadow: 2px 2px 7px 0px rgb(182, 180, 180);
    background: #eeebeb;
    border: 1px solid rgb(97, 24, 117);
    height: 25px;
     padding: 5px;
    border-radius: 50px;
  }
  .arrowBack a{
    font-size: 25px;
    color: rgb(97, 24, 117);
  }
  .login-container{
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 100px 0px;
  }

  .login-container h2{
    font-size: 45px;
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    text-transform:uppercase;
    text-shadow: 1px 2px 3px rgb(180, 176, 180);
    color: #1c1c21;
    list-style-type:armenian;
    margin-bottom: 50px;
  }

  .login-container form{
    padding: 40px;
    background: #eeebeb;
     border-radius: 10px;
    box-shadow: 2px 2px 7px 0px rgb(39, 34, 34);
  }

  .login-option{
    display: flex;
    padding: 20px;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .login-container div {
    margin: 10px;
    display: flex;
    justify-content: end;
  }
  .form-groups{
    gap: 40px; 
     line-height: 4rem;
  }
  .form-groups input{
    width: 450px;
    height: 55px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: 0.5s ease-in-out;
    box-shadow: 4px 2px 3px 2px rgb(224, 217, 217);

  }

  .login-container button{
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 0.5s ease;
     padding: 22px;
    background: rgb(144, 110, 153);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    margin: 0 148px;
 
  }

  .login-container button:hover{
    background: #525252;
    color:#fff;
  }

  /* carousel */

  .productef{
    width: 100%;
      display: flex;
     padding: 10px;

  }

  .slider_container{
      margin: 0px 10px;
     border-radius: 10px;
     padding: 25px;
     background: #eeebeb;
    width: 100%;
    height: 200px;
    box-shadow: 1px 3px 2px 2px rgb(184, 180, 180);
  }

  .product_details h3{
    padding: 10px 0px;
    border-bottom: 1px solid #525252;
    opacity: 0.9;
    font-size: 20px;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1.3rem;
    font-family: "works",sans-serif;
  }

  .Contents{
    padding: 20px 0px;
  }

  .Contents p{
    color: #333;
    white-space: pre-wrap;
    text-transform: none;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1.3rem;
  }

  .star-icon{
    color: rgb(144, 110, 153);
  }

  /* flashslider */

  .flashSliders{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    }

    .flash_container{
    padding: 10px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    }
   .sectionFlash h2{
    font-size: 2.3rem;
    padding: 1rem 0;
    text-align: center;
     line-height: 3rem;
     font-weight: 200;
    line-height: 1.3rem;
    /* font-family: "Playfair Display", sans-serif;   */
   }
   .grid_display{
  display: grid;
  padding:10px 100px;
  gap: 30px;
  grid-template-columns: repeat(3,1fr);
   }
   .mainboard{
    display: flex;
     gap: 20px;
   }

   .mainboard i{
    box-shadow: 1px 3px 4px 2px rgb(144, 110, 153);
     font-size: 30px;
     width: 30px;
     height: 40px;
    padding: 10px 10px 5px 10px;
    border-radius: 50px;
    color: rebeccapurple;
    }

    .mainboard p{
      font-weight: 500;
      font-size: 19px;
      /* letter-spacing: 1px ; */
      font-family: "Playfair Display", "Times New Roman", serif;
    }




    /* Tiktok Navbar */
    .tiktokHeader{
      width: 100%;
      /* height: 100vh; */
    }

    .tiktok_container{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 30px;
      border-bottom: 1px solid #eeebeb;
    }
    .tiktok_container h2{
      font-size: 40px;
      font-family: monospace;
    }
    .searchform{
      display: flex;
      flex-direction: row-reverse;
      padding: 1px 2px 1px 5px;
      background: #f4f5f6;
      border-radius: 10px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }
    .searchform input {
      width: 500px;
      border: none;
      background: transparent;
      padding-left: 20px;
      border-right: 1px solid #eeebeb;
      outline: none;
      transition: 0.5s ease;
    }
    .searchform .icons{
      font-size: 20px;
      padding: 12px 14px;
      cursor: pointer;
      /* height: 40px; */
      color: #525252;
       border-radius: 50px;

    }

    
    .Uploads_logins{
      display: flex;
      gap: 30px;
    }
    .upload_vid{
      display: flex;
      align-items: center;
      border: 1px solid #eeebeb;
      gap: 10px;
      text-transform:capitalize;
      font-size: 14px;
      font-family:Verdana, Geneva, Tahoma, sans-serif;
      font-weight: bold;
      padding: 10px;
      cursor: pointer;
    }
    .tiktokProfile img{
      width: 40px;
      height: 40px;
      border-radius: 50px;
      object-fit: cover;
    }


    
    /* App.css */
.Tiktokapp {
  display: flex;
  height: 100vh;
  }

.main_content {
  flex: 1; /* Take remaining space */
  /* Add styling for main content */
}

    

    /* sidebar tiktok */
 .sidebar {
  width: 300px; /* Adjust width as needed */
  height: 100%;
  background-color: transparent; /* Background color of the sidebar */
  overflow-y: auto;
  transition: 0.5s ease;

   /* Enable vertical scrolling */
}

.sidebar__content {
  padding: 20px;
  transition: 0.5s ease;

   /* Add padding to the content */
}

.sidebar__item {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  gap: 20px;
  transition: 0.5s ease;
  padding: 20px 0px;
   /* Add padding to each item */
  /* Customize item styling */
}
.sidebar__item a{
  display: flex;
  gap: 20px;
  cursor: pointer;
  transition: 0.5s ease;

}

.sidebar__item:hover {
 border-top: 1px solid #000;
 border-bottom:1px solid #000 ;
 color: #fff;
}

.sidebar__desktop {
  display: block;
  transition: 0.5s ease;

}

 
 
/* Homepage background */
.Homepage_details{
  width: 100%;
  height: 100%;
  background: #f4f5f6;
  display: flex;
  justify-content: center;
 }

.Homepage_lines{
  padding: 20px 0px;
}

.HomePage_Upper{
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 15px 0px;
 }
 .tiktokProfile{
  display: flex;
  gap: 20px;
  }
  .tiktokProfile img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
  }
  .tiktokProfile div h2{
    font-size: 15px;
  }
 .tiktok_mingle button{
  color: rgba(255, 0, 0, 0.877);
  background: transparent;
  padding: 7px 10px;
  border: 2px solid rgba(255, 0, 0, 0.877);
  letter-spacing: 1px;
  font-weight: bold;
  font-family:'Tahoma',sans-serif;
  cursor: pointer;
 }
.main_bg{
  display: flex;

}
 .main_bg video{
  display: flex;
   width: 250px;
  border-radius: 20px;
 }
 .Social_Bg_icons{
  margin: 20rem 0px 0px 20px;
 }

 .mingle_vibes {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  margin: 10px 0px;
  cursor: pointer;
 }
 .mingle_vibes button{
  border: none;
  background: none;
 }

 .mingle_vibes span{
  font-size: 10px;
 }

 /* like button */
 .mingle_vibes button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.mingle_vibes button:focus {
  outline: none;
}

.liked {
  color: red;
}
.video-container {
  position: relative;
}
  
.video-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
  color: white;
  cursor: pointer;
}


/* footer  */
.Footer{
  width: 100%;
  height: 100%;
}

.Footer_container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 90px 30px;

}

.Footer_Sign{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Footer_Sign h2{
  font-size: 35px;
  color: rebeccapurple;
  font-weight: bold;

}

.Footer_Sign a{
  font-size: 25px;
}
 
.footer_socialLinks{
  padding-top: 45px;
  gap: 24px;
  font-size: 40px;
  display: flex;
  color: rebeccapurple;
}
.footer_socialLinks a:hover:nth-of-type(1){
  height: 40px;
  color: rgb(0, 0, 0);
}
.footer_socialLinks a:hover:nth-of-type(2){
  color: rgb(0, 0, 0);
}
.footer_socialLinks a:hover:nth-of-type(3){
  color: rgb(0, 0, 0);
}
/* mobile sidebar */
.sidebared{
  display: none;
  color: #fff;
}

.mobiledHam {
  display: none;
  margin-left: 15px;
}
.don{
  display: none;
}
/* mobile screen */
@media(max-width:1450px){
  .login-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 500px; */
    transition: 0.5s ease;
    max-width: 670px;
    padding: 22px;
     
    font-size: 20px;
     
    margin: 0 8px;
 
  }
}
@media(max-width:1300px){
  .login-container{
    width: 100%;
    
   }
   .form-groups input{
    width: 380px;
    height: 55px;
    padding-left: 5px;
  }

  .login-container button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 500px; */
    transition: 0.5s ease;
    max-width: 100%;
    padding: 22px;
     
    font-size: 20px;
     
    margin: 0 8px;
 
  }
}
@media(max-width:1050px){
  .Contents{
    padding: 15px 0px;
  }

  .Contents p{
      letter-spacing: 0px;
     font-size: 15px;
  }

  .star-icon{
    color: rgb(144, 110, 153);
  }
  .grid_display{
     padding:10px 50px;
  }
  .mainboard p{
       font-size: 16px;
  }
  .login-container{
    width: 700px;
   margin: 100px auto;
  }
  .login-container form{
    padding: s0px;
    background: #eeebeb;
     border-radius: 10px;
    box-shadow: 2px 2px 7px 0px rgb(39, 34, 34);
  }

  .login-option{
    display: flex;
    padding: 20px;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .login-container div {
    margin: 10px;
    display: flex;
    justify-content: end;
  }
  .form-groups{
    gap: 40px; 
     line-height: 4rem;
  }
  .form-groups input{
    width: 450px;
    height: 55px;
    padding-left: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: 0.5s ease-in-out;
    box-shadow: 4px 2px 3px 2px rgb(224, 217, 217);

  }

  .login-container button{
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 0.5s ease;
    max-width: 100%;
    padding: 22px;
     
    font-size: 20px;
     
    margin: 0 18px;
 
  }

}
@media(max-width:950px){
  .Contents{
    padding: 8px 0px;
  }
  .Contents p{
    letter-spacing: 0px;
   font-size: 13px;
}
.grid_display{
  padding:10px 30px;
}
.banner_container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0px;
}
.slider_container{
  margin: 0px 10px;
  padding: 15px; 
height: 230px;
}
.mainboard p{
  font-size: 13px;
}
.header_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px  50px;
}
.mainboard i{
  font-size: 20px;
  height: 20px;
padding: 5px 5px 5px 5px;
box-shadow: none;
}
.Contents{
  padding: 8px 0px;
}
.footer_socialLinks{
  padding-top: 85px;
   font-size: 25px;
}
.Footer_Sign h2{
  font-size: 27px;
}

.Footer_Sign a{
  font-size: 16px;
}
.login-form{
  display: flex;
  justify-content: center;
  width: 100%;
  background: linear-gradient(to bottom, rgb(226, 221, 226),rgb(255, 255, 255) );
 }
.login-container{
  width: 100%;
 margin: 100px 0px;
 }
.login-container form{
  padding: 20px;
  
}

.login-option{
  display: block;
  padding: 0px;
  flex-direction: row;
  margin-bottom: 20px;
}

.login-container div {
  margin: 10px;
  display: flex;
  justify-content: end;
}
.form-groups{
  gap: 50px; 
   line-height: 4rem;
}
.form-groups input{
  width: 450px;
  height: 55px;
  padding-left: 0px;
}

.login-container button{
  display: flex;
  justify-content: center;
  width: 100%;
  transition: 0.5s ease;
  max-width: 590px;
  padding: 22px;
  font-size: 20px;
}

}
@media(max-width:840px){
  .login-container button{
    max-width: 570px;
  
  }
}
@media(max-width:768px){
  .sidebar{
    display: none;
  }
  .don{
    display: block;
  }
  .mobiledHam{
    display: block;
  }
  .sidebared{
    display: block;
    color: #fff;
  }
  .tiktoke_logo{
    display: flex;
    align-items: center;
    justify-content: center;
   color: #fff;
   padding: 10px;
  }
  .logo_icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    background: rgba(28, 17, 41, 0.88);
  }
  .menu-bar{
    height: 88vh;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1rem;
    position: relative; 
  }
  .toggle-theme-btn{
    position: absolute;
    bottom: 30px;
    left: 20px;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 1rem; 
  }
  .toggle {
    margin-left: 15px;
  }
}
@media(max-width:700px){
 
  .left {
    width: 70%;
    padding: 20px;
  } 
  .form-groups{
    gap: 30px; 
     line-height: 3rem;
  }
  .form-groups input{
    width: 250px;
    height: 50px;
    padding-left: 0px;
  }
  
  .login-container button{
    display: flex;
    justify-content: center;
    width: 100%;
    transition: 0.5s ease;
    max-width: 355px;
     padding: 22px;
    font-size: 20px;
  }
}

@media(max-width:620px){
 
  .left {
    width: 75%;
    padding: 20px;
  } 
  .sectionFlash{
    display: flex;
    justify-content: center;
  }
  .sectionFlash h2{
    font-size: 1.7rem;
    padding: 1rem 0;
    max-width: 230px;
    text-transform: capitalize;
    text-align: center;
      font-weight: 500;
    line-height: 1.7rem;
    /* font-family: "Playfair Display", sans-serif;   */
   }
   .colored{
    color: rebeccapurple;
    font-weight: bold;
   }
   .grid_display{
    display: grid;
    padding:10px;
    gap: 30px;
    grid-template-columns: repeat(2,1fr);
     }
}


@media(max-width:500px){
  .header_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px  5px;
  }
  .header_container a{
     font-size: 30px; 
}
.left {
  width: 60%;
  padding: 0px;
} 
.signup-form {
  width: 100%;
  background-color:#f4f5f6;
  padding: 5px;
}

.signup-form h1{
  line-height: 1.2;
  font-size: 1.4rem;
   margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-size: 14px;
}

.signup-form .form-group input {
 width: 80px;
 padding: 13px;
}
.signup-form .form-group  select{
 width: 105px;
 padding: 13px;
 font-size: 10px;

}


.signup-form input[type="range"] {
 width: 75px;
 }

output {
 margin-top: 0px;

}
.scrolled > p {
  font-size: 25px;
}
.logins p {
   font-size: 15px;
   padding: 11px 20px;
   border-radius: 5px;
}
.Footer_container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 30px 20px;
}
.mainboard{
  display: block;
   gap: 40px;
 }

 .form-groups{
  gap: 10px; 
   line-height: 3rem;
}
.form-groups input{
  width:200px;
  height: 40px;
  padding-left: 0px;
}

.login-container button{
   
  max-width: 270px;
   padding: 22px;
  font-size: 20px;
}
.login-container form{
  padding: 10px;
  background: #eeebeb;
   border-radius: 10px;
  box-shadow: 2px 2px 7px 0px rgb(39, 34, 34);
}

.login-container div {
  margin: 10px;
  display: flex;
  justify-content: end;
}
}
